<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="MOUNTING_PLATE_THICKNESS" value="0.005"/>

  <xacro:macro name="crane_x7_mounting_plate" params="parent color *origin">

    <joint name="${NAME_JOINT_MOUNTING_PLATE}" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${NAME_LINK_MOUNTING_PLATE}"/>
    </joint>

    <link name="${NAME_LINK_MOUNTING_PLATE}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://crane_x7_description/meshes/visual/mounting_plate.stl"
              scale="1 1 1"/>
        </geometry>
        <material name="${color}"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://crane_x7_description/meshes/collision/mounting_plate.stl"
              scale="1 1 1"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
