<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="crane_x7_ros2_control_settings">

    <ros2_control name="crane_x7" type="system">
      <hardware>
        <xacro:if value="${USE_MOCK_COMPONENTS}">
          <plugin>mock_components/GenericSystem</plugin>
        </xacro:if>
        <xacro:unless value="${USE_MOCK_COMPONENTS}">
          <plugin>crane_x7_hardware/CraneX7Hardware</plugin>
          <param name="port_name">${PORT_NAME}</param>
          <param name="baudrate">${BAUDRATE}</param>
          <param name="timeout_seconds">${TIMEOUT_SECONDS}</param>
          <param name="manipulator_config_file_path">${MANIPULATOR_CONFIG_FILE_PATH}</param>
          <param name="manipulator_links_file_path">${MANIPULATOR_LINKS_FILE_PATH}</param>
        </xacro:unless>
      </hardware>

      <joint name="${NAME_JOINT_1}">
        <command_interface name="position">
          <param name="min">${JOINT_1_LOWER_LIMIT}</param>
          <param name="max">${JOINT_1_UPPER_LIMIT}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="current_to_effort">2.20</param>
      </joint>

      <joint name="${NAME_JOINT_2}">
        <command_interface name="position">
          <param name="min">${JOINT_2_LOWER_LIMIT}</param>
          <param name="max">${JOINT_2_UPPER_LIMIT}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="current_to_effort">3.60</param>
      </joint>

      <joint name="${NAME_JOINT_3}">
        <command_interface name="position">
          <param name="min">${JOINT_3_LOWER_LIMIT}</param>
          <param name="max">${JOINT_3_UPPER_LIMIT}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="current_to_effort">2.20</param>
      </joint>

      <joint name="${NAME_JOINT_4}">
        <command_interface name="position">
          <param name="min">${JOINT_4_LOWER_LIMIT}</param>
          <param name="max">${JOINT_4_UPPER_LIMIT}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="current_to_effort">2.20</param>
      </joint>

      <joint name="${NAME_JOINT_5}">
        <command_interface name="position">
          <param name="min">${JOINT_5_LOWER_LIMIT}</param>
          <param name="max">${JOINT_5_UPPER_LIMIT}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="current_to_effort">2.20</param>
      </joint>

      <joint name="${NAME_JOINT_6}">
        <command_interface name="position">
          <param name="min">${JOINT_6_LOWER_LIMIT}</param>
          <param name="max">${JOINT_6_UPPER_LIMIT}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="current_to_effort">2.20</param>
      </joint>

      <joint name="${NAME_JOINT_7}">
        <command_interface name="position">
          <param name="min">${JOINT_7_LOWER_LIMIT}</param>
          <param name="max">${JOINT_7_UPPER_LIMIT}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="current_to_effort">2.20</param>
      </joint>

      <joint name="${NAME_JOINT_GRIPPER_FINGER_A}">
        <command_interface name="position">
          <param name="min">${JOINT_HAND_LOWER_LIMIT}</param>
          <param name="max">${JOINT_HAND_UPPER_LIMIT}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="current_to_effort">2.20</param>
      </joint>

    </ros2_control>
  </xacro:macro>
</robot>
