<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="crane_x7_wide_two_finger_gripper">

    <link name="${NAME_LINK_GRIPPER_BASE}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://crane_x7_description/meshes/visual/wide_two_finger_gripper_actuator.stl"
              scale="1 1 1"/>
        </geometry>
        <material name="${COLOR_HAND}"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://crane_x7_description/meshes/collision/wide_two_finger_gripper_actuator.stl"
              scale="1 1 1"/>
        </geometry>
      </collision>

      <inertial>
        <mass value="0.121"/>
        <origin xyz="1.08E-04 -1.03E-03 2.08E-02" rpy="0 0 0"/>
        <inertia ixx="3.20E-05" ixy="-9.45E-08" ixz="2.61E-07"
          iyy="4.14E-05" iyz="3.88E-07"
          izz="4.29E-05"/>
      </inertial>
    </link>

    <joint name="${NAME_JOINT_GRIPPER_FINGER_A}" type="revolute">
      <origin xyz="-0.012 0.0 0.024" rpy="0 0 0"/>
      <axis xyz="0 -1 0"/>
      <limit
        effort="4.0"
        velocity="${JOINT_VELOCITY_LIMIT}"
        lower="${JOINT_HAND_LOWER_LIMIT}"
        upper="${JOINT_HAND_UPPER_LIMIT}"/>
      <parent link="${NAME_LINK_GRIPPER_BASE}"/>
      <child link="${NAME_LINK_GRIPPER_FINGER_A}"/>
      <dynamics damping="1.0e-6" friction="8.0e-1"/>
    </joint>

    <link name="${NAME_LINK_GRIPPER_FINGER_A}">
      <visual>
        <origin xyz="0 0 0" rpy="${radians(90)} 0 0"/>
        <geometry>
          <mesh filename="package://crane_x7_description/meshes/visual/wide_two_finger_gripper_finger_a.stl"
              scale="1 1 1"/>
        </geometry>
        <material name="${COLOR_HAND}"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="${radians(90)} 0 0"/>
        <geometry>
          <mesh filename="package://crane_x7_description/meshes/collision/wide_two_finger_gripper_finger_a.stl"
              scale="1 1 1"/>
        </geometry>
      </collision>

      <inertial>
        <mass value="0.0158"/>
        <origin xyz="-2.65E-03 3.54E-03 2.69E-02" rpy="${radians(90)} 0 0"/>
        <inertia ixx="1.01E-05" ixy="-1.97E-07" ixz="-9.89E-08"
        iyy="4.95E-06" iyz="5.37E-07"
        izz="6.24E-06"/>
      </inertial>
    </link>

    <!--Dummy joint/link to prevent error with mimic joint
    See https://github.com/ros-controls/gazebo_ros2_control/issues/173
    -->
    <joint name="${NAME_JOINT_GRIPPER_FINGER_B}_mimic" type="fixed">
      <parent link="world" />
      <child link="dummy_mimic_fix" />
    </joint>
    <link name="dummy_mimic_fix"/>

    <joint name="${NAME_JOINT_GRIPPER_FINGER_B}" type="revolute">
      <origin xyz="0.012 0.0 0.024" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
      <limit
        effort="4.0"
        velocity="${JOINT_VELOCITY_LIMIT}"
        lower="${JOINT_HAND_LOWER_LIMIT}"
        upper="${JOINT_HAND_UPPER_LIMIT}"
        />
      <parent link="${NAME_LINK_GRIPPER_BASE}"/>
      <child link="${NAME_LINK_GRIPPER_FINGER_B}"/>
      <mimic joint="${NAME_JOINT_GRIPPER_FINGER_A}"/>
      <dynamics damping="1.0e-6" friction="8.0e-1"/>
    </joint>

    <link name="${NAME_LINK_GRIPPER_FINGER_B}">
      <visual>
        <origin xyz="0 0 0" rpy="${radians(90)} 0 0"/>
        <geometry>
          <mesh filename="package://crane_x7_description/meshes/visual/wide_two_finger_gripper_finger_b.stl"
              scale="1 1 1"/>
        </geometry>
        <material name="${COLOR_HAND}"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="${radians(90)} 0 0"/>
        <geometry>
          <mesh filename="package://crane_x7_description/meshes/collision/wide_two_finger_gripper_finger_b.stl"
              scale="1 1 1"/>
        </geometry>
      </collision>

      <inertial>
        <mass value="0.0139"/>
        <origin xyz="3.01E-03 2.85E-03 3.09E-02" rpy="${radians(90)} 0 0"/>
        <inertia ixx="7.48E-06" ixy="3.61E-07" ixz="6.34E-08"
        iyy="4.09E-06" iyz="2.28E-07"
        izz="4.37E-06"/>
      </inertial>
    </link>
  </xacro:macro>
</robot>
