<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="d435"
      params="parent
              *origin">
    <joint name="camera_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child  link="camera_base"/>
    </joint>

    <link name="camera_base">
      <inertial>
        <mass value="0.072"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-3" ixy="0.0" ixz="0.0" iyy="1e-3" iyz="0.0" izz="1e-3"/>
      </inertial>
      <visual>
        <origin xyz="0.025 0 0" rpy="${radians(90)} 0 ${radians(90)}"/>
        <geometry>
          <mesh filename="package://realsense2_description/meshes/d435.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="${0.025/2} 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.025 0.09 0.025"/>
        </geometry>
      </collision>
    </link>

    <joint name="camera_link_joint" type="fixed">
      <origin xyz="0.0208 0.0175 0" rpy="0 0 0"/>
      <parent link="camera_base"/>
      <child  link="camera_link"/>
    </joint>

    <link name="camera_link"/>
  </xacro:macro>
</robot>