<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="material_gazebo_black">
    <visual>
      <material>
        <ambient>0.2 0.2 0.2 1</ambient>
        <diffuse>0.0 0.0 0.0 1</diffuse>
      </material>
    </visual>
  </xacro:macro>

  <xacro:macro name="material_gazebo_white">
    <visual>
      <material>
        <ambient>0.95 0.95 0.95 1</ambient>
        <diffuse>0.95 0.95 0.95 1</diffuse>
      </material>
    </visual>
  </xacro:macro>

  <xacro:macro name="material_gazebo_red">
    <visual>
      <material>
        <ambient>1.0 0.3 0.3 1</ambient>
        <diffuse>1.0 0.0 0.0 1</diffuse>
      </material>
    </visual>
  </xacro:macro>

  <xacro:macro name="gazebo_robot_settings">

    <gazebo>
      <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find ${GZ_CONTROL_CONFIG_PACKAGE})/${GZ_CONTROL_CONFIG_FILE_PATH}</parameters>
      </plugin>
    </gazebo>

    <gazebo reference="${NAME_LINK_MOUNTING_PLATE}">
      <xacro:material_gazebo_black/>
    </gazebo>

    <gazebo reference="${NAME_LINK_BASE}">
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${NAME_LINK_1}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_2}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_3}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_4}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_5}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_6}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${NAME_LINK_COVER_2_L}">
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${NAME_LINK_COVER_2_R}">
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${NAME_LINK_COVER_4_L}">
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${NAME_LINK_COVER_4_R}">
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${NAME_LINK_LOGO_SYMBOL_L}">
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${NAME_LINK_LOGO_SYMBOL_R}">
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${NAME_LINK_LOGO_TEXT_L}">
      <xacro:material_gazebo_black/>
    </gazebo>

    <gazebo reference="${NAME_LINK_LOGO_TEXT_R}">
      <xacro:material_gazebo_black/>
    </gazebo>

    <gazebo reference="${NAME_LINK_GRIPPER_BASE}">
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${NAME_LINK_GRIPPER_FINGER_A}">
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${NAME_LINK_GRIPPER_FINGER_B}">
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <xacro:material_gazebo_red/>
    </gazebo>

  </xacro:macro>
</robot>