<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find crane_x7_description)/urdf/crane_x7_arm.xacro"/>
  <xacro:include filename="$(find crane_x7_description)/urdf/crane_x7_mounting_plate.xacro"/>
  <xacro:include filename="$(find crane_x7_description)/urdf/crane_x7_wide_two_finger_gripper.xacro"/>
  <xacro:include filename="$(find crane_x7_description)/urdf/crane_x7_rt_logos.xacro"/>

  <xacro:macro name="crane_x7" params="parent *origin">

    <!-- Mounting plate
         (Root of the manipulator's TF tree) -->
    <xacro:crane_x7_mounting_plate parent="${parent}" color="black">
      <xacro:insert_block name="origin"/>
    </xacro:crane_x7_mounting_plate>

    <!-- Arm -->
    <xacro:crane_x7_arm parent="${NAME_LINK_MOUNTING_PLATE}">
      <origin xyz="0 0 ${MOUNTING_PLATE_THICKNESS}" rpy="0 0 0"/>
    </xacro:crane_x7_arm>

    <!-- RealSense D435 -->
    <xacro:if value="${USE_D435}">
      <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
      <xacro:sensor_d435
          parent="${NAME_LINK_7}"
          use_nominal_extrinsics="false"
          add_plug="false"
          use_mesh="true">
        <origin xyz="0.0 0.032 0.0191" rpy="${radians(-90)} ${radians(-90)} 0"/>
      </xacro:sensor_d435>
    </xacro:if>

    <!-- End effector -->
    <xacro:crane_x7_wide_two_finger_gripper/>
  </xacro:macro>
</robot>
