<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="material_gazebo_black">
    <visual>
      <material>
        <ambient>0.2 0.2 0.2 1</ambient>
        <diffuse>0.0 0.0 0.0 1</diffuse>
        <specular>0.1 0.1 0.1 128.0</specular>
      </material>
    </visual>
  </xacro:macro>

  <xacro:macro name="material_gazebo_white">
    <visual>
      <material>
        <ambient>0.95 0.95 0.95 1</ambient>
        <diffuse>0.95 0.95 0.95 1</diffuse>
        <specular>0.1 0.1 0.1 128.0</specular>
      </material>
    </visual>
  </xacro:macro>

  <xacro:macro name="material_gazebo_red">
    <visual>
      <material>
        <ambient>1.0 0.3 0.3 1</ambient>
        <diffuse>1.0 0.0 0.0 1</diffuse>
        <specular>0.1 0.1 0.1 128.0</specular>
      </material>
    </visual>
  </xacro:macro>

  <xacro:macro name="gazebo_robot_settings"
    params="name_link_mounting_plate
            name_link_base
            name_link_1
            name_link_2
            name_link_3
            name_link_4
            name_link_5
            name_link_6
            name_link_cover_2_l
            name_link_cover_2_r
            name_link_cover_4_l
            name_link_cover_4_r
            name_link_logo_symbol_l
            name_link_logo_symbol_r
            name_link_logo_text_l
            name_link_logo_text_r
            name_link_gripper_base
            name_link_gripper_finger_a
            name_link_gripper_finger_b
            config_package
            config_file_path
            use_d435
            ">

    <gazebo>
      <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(find ${config_package})/${config_file_path}</parameters>
      </plugin>
    </gazebo>

    <gazebo reference="${name_link_mounting_plate}">
      <xacro:material_gazebo_black/>
    </gazebo>

    <gazebo reference="${name_link_base}">
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${name_link_1}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${name_link_2}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${name_link_3}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${name_link_4}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${name_link_5}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${name_link_6}">
      <xacro:material_gazebo_white/>
    </gazebo>

    <gazebo reference="${name_link_cover_2_l}">
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${name_link_cover_2_r}">
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${name_link_cover_4_l}">
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${name_link_cover_4_r}">
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${name_link_logo_symbol_l}">
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${name_link_logo_symbol_r}">
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${name_link_logo_text_l}">
      <xacro:material_gazebo_black/>
    </gazebo>

    <gazebo reference="${name_link_logo_text_r}">
      <xacro:material_gazebo_black/>
    </gazebo>

    <gazebo reference="${name_link_gripper_base}">
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${name_link_gripper_finger_a}">
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <xacro:material_gazebo_red/>
    </gazebo>

    <gazebo reference="${name_link_gripper_finger_b}">
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
      <xacro:material_gazebo_red/>
    </gazebo>

    <xacro:if value="$(arg use_d435)">
      <gazebo reference="camera_link">
        <sensor type="depth" name="camera1">
          <update_rate>30.0</update_rate>
          <visualize>false</visualize>
          <camera>
            <horizontal_fov>${radians(69.4)}</horizontal_fov>
            <image>
              <width>640</width>
              <height>480</height>
              <format>B8G8R8</format>
            </image>
            <depth_camera>
            </depth_camera>
            <clip>
              <near>0.02</near>
              <far>300</far>
            </clip>
            <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.007</stddev>
            </noise>
          </camera>
          <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
            <ros>
              <namespace>demo_cam</namespace>
              <remapping>depth_camera/image_raw:=fake_cam_color/image_raw</remapping>
              <remapping>depth_camera/camera_info:=fake_cam_color/camera_info</remapping>
              <remapping>depth_camera/points:=depth_camera/depth/color/points</remapping>
            </ros>
            <camera_name>depth_camera</camera_name>
            <min_depth>0.105</min_depth>
            <max_depth>10.0</max_depth>
          </plugin>
        </sensor>
      </gazebo>

      <!--
      <gazebo reference="camera_aligned_depth_to_color_frame">
        <sensor type="depth" name="camera2">
          <update_rate>30.0</update_rate>
          <camera name="color_camera">
            <horizontal_fov>${radians(69.4)}</horizontal_fov>
            <image>
              <width>640</width>
              <height>480</height>
              <format>B8G8R8</format>
            </image>
            <clip>
              <near>0.02</near>
              <far>300</far>
            </clip>
          </camera>
          <plugin name="camera_plugin" filename="libgazebo_ros_openni_kinect.so">
            <baseline>0.2</baseline>
            <alwaysOn>true</alwaysOn>
            <updateRate>0.0</updateRate>
            <cameraName>camera</cameraName>
            <imageTopicName>color/image_raw</imageTopicName>
            <depthImageTopicName>aligned_depth_to_color/image_raw</depthImageTopicName>
            <cameraInfoTopicName>color/camera_info</cameraInfoTopicName>
            <depthImageCameraInfoTopicName>aligned_depth_to_color/camera_info</depthImageCameraInfoTopicName>
          </plugin>
        </sensor>
      </gazebo>
      -->
    </xacro:if>

  </xacro:macro>
</robot>